<section class=" ppp text-center text-white">
    <div class="container">
        <div class="row topfoot">
            <div class="col-md-4 py-2">
                <h3>LOCATION</h3>
                 <span>2215 John Daniel Drive</span>
                
                <p>Clark, MO 65243</p>
            </div>
            <div class="col-md-4 py-2">
                <h3>
                    AROUND THE WEB
                </h3>
                <ul class="list-unstyled d-flex   justify-content-center">
                    <li><i _ngcontent-jfy-c21="" class="fa-brands fa-facebook mx-1 icon"></i></li>
                    <li><i _ngcontent-jfy-c21="" class="fa-brands fa-twitter mx-1 icon"></i></li>
                    <li><i _ngcontent-jfy-c21="" class="fa-brands fa-linkedin-in mx-1 icon"></i></li>
                    <li><i _ngcontent-jfy-c21="" class="fa-solid fa-globe mx-1 icon"></i></li>
                </ul>
            </div>
            <div class="col-md-4 py-2">
                <h3>
                    ABOUT FREELANCER
                </h3>
                <p>
                    Freelance is a free to use, licensed Bootstrap theme created by Route
                </p>
            </div>
        </div>
       
    </div>
    <div class="foot">
        Copyright © Your Website 2021
    </div>
</section>
