<section class="text-center">
    <div>
        <h1>PORTFOLIO COMPONENT</h1>
        <div class="decorative-line"></div>
  <span class="star-icon">&#9733;</span> 
  <div class="decorative-line"></div>

  <div class="container">
    <div class="row g-4 mt-3">
        <div class="col-md-4">
            <div class="image">
            <img src="./assets/images/poert1.png" class="w-100" alt="">
<div class="layer"><i class="fa-solid fa-plus"></i></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="image">
                <img src="./assets/images/port2.png" class="w-100" alt="">
    <div class="layer"><i class="fa-solid fa-plus"></i></div>
                </div>
        </div>
        <div class="col-md-4">
            <div class="image">
                <img src="./assets/images/port3.png" class="w-100" alt="">
    <div class="layer"><i class="fa-solid fa-plus"></i></div>
                </div>
        </div>
        <div class="col-md-4">
            <div class="image">
                <img src="./assets/images/poert1.png" class="w-100" alt="">
    <div class="layer"><i class="fa-solid fa-plus"></i></div>
                </div>
        </div>
        <div class="col-md-4">
            <div class="image">
                <img src="./assets/images/port2.png" class="w-100" alt="">
    <div class="layer"><i class="fa-solid fa-plus"></i></div>
                </div>
        </div>
        <div class="col-md-4">
            <div class="image">
                <img src="./assets/images/port3.png" class="w-100" alt="">
    <div class="layer"><i class="fa-solid fa-plus"></i></div>
                </div>
        </div>
    </div>
  </div>
    </div>
</section>
