<section class="text-black    contacti pt-5 ">
    <div class="text-center">
        <h1>
            CONATCT SECTION
        </h1>
        <div class="decorative-line"></div>
  <span class="star-icon">&#9733;</span> 
  <div class="decorative-line"></div>
    </div>
    <div class=" coinputs py-5">
        <input type="text" placeholder="username" >
        <input type="number" placeholder="userage">
        <input type="email" placeholder="useremail">
        <input type="password" placeholder="userpassword">
    <button>send Message</button>
        
    </div>
</section>
